<div class="row">
  <div class="addAuto col-md-6">
    <h3 class="col-md-12">Добавить авто</h3>
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <div class="form-group col-md-12" [ngClass]="{'has-error':!complexForm.controls['selectOption'].valid && complexForm.controls['selectOption'].touched}">
        <ng-select [allowClear]="false"
            #formSelect
            formControlName="selectOption"
            [items]="items"
            
            (data)="refreshValue($event)"
            (selected)="selected($event)"
            (removed)="removed($event)"
            placeholder="Выберите марку авто"
            [formControl]="complexForm.controls['selectOption']"
      ></ng-select>
      <div *ngIf="complexForm.controls['selectOption'].hasError('required') && complexForm.controls['selectOption'].touched" class="alert alert-danger" style="margin-top: 2px;">You must choose a Car</div>
      </div>




      <!-- <div class="col-md-6 form-group" [ngClass]="{'has-error':!complexForm.controls['car'].valid && complexForm.controls['car'].touched}">
        <input type="text" name="car" #marka class="form-control" placeholder="Марка машины" [formControl]="complexForm.controls['car']">
        <div *ngIf="complexForm.controls['car'].hasError('required') && complexForm.controls['car'].touched" class="alert alert-danger" style="margin-top: 2px;">You must write a Car</div>
      </div> -->



       <div class="col-md-6 form-group" [ngClass]="{'has-error':!complexForm.controls['price'].valid && complexForm.controls['price'].touched}">
        <input type="text" name="price" #price class="form-control" placeholder="Цена" [formControl]="complexForm.controls['price']">
        <div *ngIf="complexForm.controls['price'].hasError('required') && complexForm.controls['price'].touched" class="alert alert-danger" style="margin-top: 2px;">You must write a price</div>
      </div>

      <div class="col-md-12 form-group" [ngClass]="{'has-error':!complexForm.controls['descr'].valid && complexForm.controls['descr'].touched}">

          <textarea class="form-control" name="descr" #textarea placeholder="Описание" [formControl]="complexForm.controls['descr']"></textarea>
          <div *ngIf="complexForm.controls['descr'].hasError('required') && complexForm.controls['descr'].touched" class="alert alert-danger" style="margin-top: 2px;">You must include description.</div>
          <div *ngIf="complexForm.controls['descr'].hasError('minlength') && complexForm.controls['descr'].touched" class="alert alert-danger" style="margin-top: 2px;">Your description must be at least 5 characters long.</div>
          <div *ngIf="complexForm.controls['descr'].hasError('maxlength') && complexForm.controls['descr'].touched" class="alert alert-danger" style="margin-top: 2px;">Your description cannot exceed 10 characters.</div>

      </div>
      <div class="form-group col-md-12">
        <button class="btn btn-success sendButton" [disabled]="!complexForm.valid"
        (click)="addCar(price, textarea, formSelect)"
        >Создать</button>
      </div>
    </form>
  </div>
</div>
<hr>